*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

html {
  color: #212121;
  font-size: 16px;
  line-height: 1.4; }
  @media (min-width: 768px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 21px; } }

.site-navigation-open {
  overflow: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

a {
  color: #f44336;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

a,
button,
.form-control,
.form-label {
  transition: all .3s ease-in-out; }

.skip-to-content {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
  .skip-to-content:focus, .skip-to-content:active {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto; }

.site-header {
  background-color: #f44336;
  margin-bottom: 2rem; }
  .site-header::before, .site-header::after {
    content: " ";
    display: table; }
  .site-header::after {
    clear: both; }
  .site-header-brand {
    display: inline-block;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none; }
    @media (min-width: 768px) {
      .site-header-brand {
        font-size: 1.5rem;
        padding: 1rem 1.5rem; } }
    .site-header-brand:hover, .site-header-brand:focus {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.15);
      outline: none; }
  .site-header-navigation-toggle {
    float: right;
    display: inline-block;
    padding: .7rem 1rem;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    background: none;
    border: 0;
    border-radius: 0; }
    .site-header-navigation-toggle:hover, .site-header-navigation-toggle:focus {
      background-color: rgba(255, 255, 255, 0.15);
      outline: none; }
    .site-header-navigation-toggle-text {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }

.site-navigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 20;
  width: 16rem;
  background-color: #fff;
  outline: none;
  overflow-y: auto;
  transition: transform .2s ease-in-out; }
  .site-navigation-open .site-navigation {
    transform: translateX(-100%); }
  .site-navigation-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .site-navigation-list .current-page a {
      color: #f44336; }
    .site-navigation-list li {
      display: block;
      margin: 0;
      padding: 0; }
    .site-navigation-list a {
      display: block;
      padding: 1rem 1.5rem;
      color: #212121;
      font-weight: bold;
      line-height: 1; }
      .site-navigation-list a:hover, .site-navigation-list a:focus {
        text-decoration: none;
        background-color: #eee;
        outline: none; }

.site-footer {
  margin-top: 3rem;
  padding-bottom: 1rem;
  font-size: .75rem;
  text-align: center; }
  .site-footer p {
    margin: 0; }
  .site-footer small {
    font-size: .5em; }

.site-fader {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in-out; }
  .site-navigation-open .site-fader {
    opacity: 1;
    pointer-events: all;
    cursor: pointer; }

.container {
  max-width: 35rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem; }

.form-group {
  position: relative; }
  .form-group + .form-group {
    margin-top: 1rem; }

.form-control {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0;
  font-size: 1rem;
  line-height: normal;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #9e9e9e;
  border-left: 0;
  border-radius: 0;
  background: none; }
  .form-control:focus, .form-control.filled, .form-control.error {
    border-bottom-color: #f44336;
    box-shadow: 0 1px 0 #f44336;
    outline: none; }
    .form-control:focus + .form-label, .form-control.filled + .form-label, .form-control.error + .form-label {
      font-size: .8rem;
      transform: translateY(-140%); }
  .form-control:focus + .form-label {
    color: #f44336; }
  .form-control.error, .form-control:invalid.filled {
    border-bottom-color: #f44336; }
    .form-control.error + .form-label, .form-control:invalid.filled + .form-label {
      color: #f44336; }
    .form-control.error ~ .form-note, .form-control:invalid.filled ~ .form-note {
      display: block;
      color: #f44336; }
  .form-control.filled.valid:not(:invalid), .form-control:valid.filled {
    border-bottom-color: #4Caf50;
    box-shadow: 0 1px 0 #4Caf50; }
    .form-control.filled.valid:not(:invalid) + .form-label, .form-control:valid.filled + .form-label {
      color: #4Caf50; }
    .form-control.filled.valid:not(:invalid) ~ .form-note, .form-control:valid.filled ~ .form-note {
      color: #4Caf50; }

.form select {
  appearance: none; }

.form-label {
  position: absolute;
  top: 1rem;
  display: block;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  color: #9e9e9e;
  pointer-events: none;
  cursor: text; }

.form-note {
  display: block;
  font-size: .8rem;
  color: #9e9e9e; }

.form-submit {
  padding: 0 2rem;
  color: #fff;
  line-height: 2;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  background-color: #f44336; }
  .form-submit:hover, .form-submit:focus {
    background-color: rgba(244, 67, 54, 0.75);
    outline: none; }
  .form-submit-container {
    margin-top: 1rem;
    text-align: center; }
  .form-submit-text {
    display: inline-block;
    vertical-align: middle; }
  .form-submit-icon {
    display: inline-block;
    margin-left: .5rem;
    font-size: .8em;
    vertical-align: middle; }

.form-disclaimer {
  font-size: .75rem; }

.form-loader {
  margin: 2rem 0;
  color: #9e9e9e;
  text-align: center; }
  .form-loader-text {
    margin-top: 1rem;
    font-size: .75rem;
    display: block; }

.hidden {
  display: none; }

/*# sourceMappingURL=../maps/main.css.map */
